services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
      MONGO_INITDB_DATABASE: myapp
  redis:
    image: redis:8.2
    container_name: redisdb
    ports:
      - "6378:6379"
    environment:
      - REDIS_PASSWORD=password
    volumes:
      - ./data:/data
volumes:
  mongodb_data:
    driver: local
